<?xml version="1.0"?>
<robot name="velmobil" xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">

    <material name="orange"><color rgba="0.8 0.4 0.0 1.0"/></material>
    <material name="black"><color rgba="0 0 0 1.0"/></material>
    <material name="white"><color rgba="1 1 1 1.0"/></material>

    <xacro:property name="wheel_radius" value="0.1016"/>
    <xacro:property name="lidar_l_centre_offset" value="0 0.3 0.176"/>
    <xacro:property name="lidar_l_orientation" value="0 0 0"/>
    <xacro:property name="lidar_r_centre_offset" value="0 -0.3 0.176"/>
    <xacro:property name="lidar_r_orientation" value="0 0 -3.141592"/>
    <xacro:property name="imu_centre_ofset" value="0 0 0"/>
    <xacro:property name="wheel_y_offset" value="0.38"/>
    <xacro:property name="wheel_centre_x_offset" value="0.36"/>
    <xacro:property name="wheel_r_base_x_offset" value="${-wheel_centre_x_offset + 0.081}"/>
    <xacro:property name="wheel_f_front_x_offset" value="${0.445 - 0.081 - wheel_centre_x_offset}"/>
    <xacro:property name="wheel_base_offset" value="0.05"/>


</robot>