<?xml version="1.0"?>
<robot name="velmobil" xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">

    <xacro:macro name="wheel" params="prefix x y">
        <link name="${prefix}_wheel">
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry><sphere radius="${wheel_radius}"/></geometry>
            </collision>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <sphere radius="${wheel_radius}"/>
                </geometry>
                <material name="black"/>
            </visual>
            <inertial>
                <mass value="1.0"/>
                <inertia ixx="0.145" ixy="0.0" ixz="0.0" iyy="0.145" iyz="0.0" izz="0.125"/>
            </inertial>
        </link>
        <joint name="${prefix}_wheel_joint" type="continuous">
            <origin xyz="${x} ${y} -0.02" rpy="0 0 0"/>
            <parent link="base_link"/>
            <child link="${prefix}_wheel"/>
            <axis xyz="0 1 0"/>
            <dynamics damping="0.2"/>
        </joint>
    </xacro:macro>

    <xacro:macro name="camera_link_camera_joint" params="prefix">
        <joint name="${prefix}_camera_link_camera_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <parent link="camera_link"/>
            <child link="${prefix}_rgbd_camera_frame"/>
        </joint>
    </xacro:macro>

    <xacro:macro name="wheel_friction" params="prefix dir">
        <gazebo reference="${prefix}_wheel">
            <collision>
                <surface>
                    <friction>
                        <ode>
                            <mu>1.0</mu>
                            <mu2>0.01</mu2>
                            <fdir1 gz:expressed_in="base_link">1 ${dir} 0</fdir1>
                            <slip1>0.0</slip1>
                            <slip2>0.5</slip2>
                        </ode>
                    </friction>
                    <contact>
                        <ode>
                            <kp>1000000.0</kp>
                            <kd>1.0</kd>
                            <min_depth>0.001</min_depth>
                        </ode>
                    </contact>
                </surface>
            </collision>
            <selfCollide>false</selfCollide>
        </gazebo>
    </xacro:macro>

    <xacro:macro name="joint_interface" params="name">
        <joint name="${name}">
            <command_interface name="velocity">
                <param name="min">-10000</param>
                <param name="max">10000</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </xacro:macro>


    <!-- TWO CAMERAS PARAMETERS ARE SET IN ORDER TO WORK MORE EFFECTIVELY IN SIMULATION -->
    <xacro:macro name="front_real_sense" params="">
        <joint name="front_rgbd_camera_joint" type="fixed">
            <origin xyz="${-base_center_offset + 0.1} 0 0.14" rpy="0 0 0"/>
            <parent link="camera_link"/>
            <child link="front_rgbd_camera_frame"/>
        </joint>
        <link name="front_rgbd_camera_frame">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
            <mesh filename="file://$(find velmobil_description)/models/real_sense.dae" scale="1.0 1.0 1.0"/>
            </geometry>
            <material name="black">
            <color rgba="0.9 0.9 0.9 1.0"/>
            </material>
        </visual>
        </link>

        <gazebo reference="front_rgbd_camera_frame">
        <sensor name="front_rgbd_camera" type="rgbd_camera">
            <ignition_frame_id>front_rgbd_camera_frame</ignition_frame_id>
            <camera name="front_rgbd_camera_frame">
            <horizontal_fov>1.094321441</horizontal_fov>
            <image>
                <width>320</width>
                <height>180</height>
                <format>R8G8B8</format>
            </image>
            <clip>
                <near>0.4</near>
                <far>6.5</far>
            </clip>
            </camera>
            <always_on>1</always_on>
            <update_rate>10</update_rate>
            <visualize>0</visualize>
            <topic>front_depth_camera</topic>
        </sensor>
        </gazebo>
    </xacro:macro>


    <xacro:macro name="back_real_sense" params="">
        <joint name="back_rgbd_camera_joint" type="fixed">
            <origin xyz="${-base_center_offset - 0.1} 0 0.14" rpy="0 0 -3.14"/>
            <parent link="camera_link"/>
            <child link="back_rgbd_camera_frame"/>
        </joint>
        <link name="back_rgbd_camera_frame">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
            <mesh filename="file://$(find velmobil_description)/models/real_sense.dae" scale="1.0 1.0 1.0"/>
            </geometry>
            <material name="black">
            <color rgba="0.9 0.9 0.9 1.0"/>
            </material>
        </visual>
        </link>

        <gazebo reference="back_rgbd_camera_frame">
        <sensor name="back_rgbd_camera" type="rgbd_camera">
            <ignition_frame_id>back_rgbd_camera_frame</ignition_frame_id>
            <camera name="back_rgbd_camera_frame">
            <horizontal_fov>1.094321441</horizontal_fov>
            <image>
                <width>320</width>
                <height>180</height>
                <format>R8G8B8</format>
            </image>
            <clip>
                <near>0.4</near>
                <far>6.5</far>
            </clip>
            </camera>
            <always_on>1</always_on>
            <update_rate>10</update_rate>
            <visualize>0</visualize>
            <topic>back_depth_camera</topic>
        </sensor>
        </gazebo>
    </xacro:macro>


    <xacro:macro name="lidar" params="name side yaw">
        <link name="${name}_lidar_link">
            <visual>
                <geometry>
                    <cylinder radius="${lidar_radius}" length="${lidar_length}"/>
                </geometry>
                <origin xyz="0 0 -0.02"/>
                <material name="black"/>
            </visual>
            <collision>
                <geometry>
                    <cylinder radius="${lidar_radius}" length="${lidar_length}"/>
                </geometry>
            </collision>
            <inertial>
                <mass value="0.1"/>
                <inertia ixx="0.00283314166" ixy="0.0" ixz="0.0" iyy="0.00283314166" iyz="0.0" izz="0.00143055"/>
            </inertial>
        </link>

        <joint name="${name}_lidar_base_joint" type="fixed">
            <parent link="base_link"/>
            <child link="${name}_lidar_link"/>
            <origin xyz="${-base_center_offset} ${side * lidar_y_offset} 0.176" rpy="0 0 ${yaw}"/>
        </joint>

        <gazebo reference="${name}_lidar_link">
            <sensor name="${name}_lidar_sensor" type="gpu_lidar">
                <ignition_frame_id>${name}_lidar_link</ignition_frame_id>
                <pose relative_to='${name}_lidar_link'>0 0 0 0 0 0</pose>
                <topic>/${name}/scan</topic>
                <update_rate>50</update_rate>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>540</samples>
                            <resolution>1</resolution>
                            <min_angle>-0.7853982</min_angle>
                            <max_angle>3.926991</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>0.06</min>
                        <max>8.0</max>
                        <resolution>0.01</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.012</stddev>
                    </noise>
                </ray>
                <always_on>1</always_on>
                <visualize>1</visualize>
                
            </sensor>
        </gazebo>
    </xacro:macro>


    <xacro:macro name="imu" params="">
        <link name="imu_link" />
        <joint name="imu_base_link" type="fixed">
            <parent link="base_link"/>
            <child link="imu_link"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </joint>

        <gazebo reference="imu_link">
            <sensor name="imu_sensor" type="imu">
                <ignition_frame_id>imu_link</ignition_frame_id>
                <pose relative_to='imu_link'>0 0 0 0 0 0</pose>
                <always_on>1</always_on>
                <update_rate>1</update_rate>
                <visualize>false</visualize>
                <imu>
                    <angular_velocity>
                        <x>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>2e-4</stddev>
                                <bias_mean>0.0000075</bias_mean>
                                <bias_stddev>0.0000008</bias_stddev>
                            </noise>
                        </x>
                        <y>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>2e-4</stddev>
                                <bias_mean>0.0000075</bias_mean>
                                <bias_stddev>0.0000008</bias_stddev>
                            </noise>
                        </y>
                        <z>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>2e-4</stddev>
                                <bias_mean>0.0000075</bias_mean>
                                <bias_stddev>0.0000008</bias_stddev>
                            </noise>
                        </z>
                    </angular_velocity>
                    <linear_acceleration>
                        <x>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>1.7e-2</stddev>
                                <bias_mean>0.1</bias_mean>
                                <bias_stddev>0.001</bias_stddev>
                            </noise>
                        </x>
                        <y>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>1.7e-2</stddev>
                                <bias_mean>0.1</bias_mean>
                                <bias_stddev>0.001</bias_stddev>
                            </noise>
                        </y>
                        <z>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>1.7e-2</stddev>
                                <bias_mean>0.1</bias_mean>
                                <bias_stddev>0.001</bias_stddev>
                            </noise>
                        </z>
                    </linear_acceleration>
                </imu>
                <topic>/imu/data</topic>
            </sensor>
        </gazebo>
    </xacro:macro>




</robot>